template(name="about")
  .col-50.about
    .h2.text-center about

    p simultaneously upload #{maxFilesQty} files up to #{getMaxSize}<br>all uploaded files are stored for #{getTTL} hours<br>copy file's link to share with friends and colleagues

    p 2020 ・ <a href="https://github.com/veliovgroup/meteor-files-website/tree/master/demo" target="_blank" rel="noopener noreferrer">GitHub</a>

    a.info-link.right(href="{{pathFor 'index'}}" title="close"): i.la.la-times
