template(name="uploadForm")
  form.col-50.upload-form.bg-dark#uploadFile(class="{{#if isFileOver}}file-over{{/if}}")
    .dnd-notice
      | Drop files here for upload, or
      a(href="#" data-cancel-dnd) cancel

    a.info-link.right(href="{{#if compare currentRouteName '===' 'about'}}{{pathFor 'index'}}{{else}}{{pathFor 'about'}}{{/if}}" class="{{isActiveRoute 'about'}}" title="Project Info"): i.la.la-info-circle
    a.info-link.show-settings(href="{{#if compare currentRouteName '===' 'settings'}}{{pathFor 'index'}}{{else}}{{pathFor 'settings'}}{{/if}}" class="{{isActiveRoute 'settings'}}" title="Upload Settings"): i.la.la-gear

    if isOffline
      .upload-title you're offline
      p
        b
          if compare meteorStatus '===' 'waiting'
            | connecting now...
          else
            | wait for re-connection or
        br
        b.muted: a(data-reconnect href="#") try to reconnect now
    else
      if isHeatingUp
        .upload-title.percentage 0%
        progress(max="100" value="1")
        .upload-actions
          | 00:00:00
          | &nbsp;
          | &middot;
          | &nbsp;
          | 0kbps
          br
          a(href="#"): i.la.la-3x.la-pause
          | &nbsp;
          | &nbsp;
          a(href="#"): i.la.la-3x.la-stop
      else
        unless uploads
          input.invisible#userfile(class="{{#if showSettings}}settings-open{{/if}}" type="file" name="userfile" required multiple)

          label.fake-upload(for="userfile")
            .icon-container
              .cloud-container
                i.la.la-cloud
                .arrow-container
                  i.la.la-arrow-up
            if error
              .danger.strong {{{error}}}
            else
              .upload-title share a file
        else
          .upload-title.percentage #{status.progress}%
          progress(max="100" value="#{status.progress}")
          .upload-actions
            if error
              span.danger {{{error}}}
            else if isDisconnected
              span.danger Connection interrupted. 
              | The upload will resume once the connection is re-established
            else
              | #{status.accumDuration}
              | &nbsp;
              | &middot;
              | &nbsp;
              | #{status.accumBitrate}
            br
            if status.onPause
              a(data-continue-all href="#" title="Resume upload"): i.la.la-3x.la-play
            else
              a(data-pause-all href="#" title="Pause upload"): i.la.la-3x.la-pause
            | &nbsp;
            | &nbsp;
            a(data-abort-all href="#" title="Abort upload"): i.la.la-3x.la-stop