template(name="index")
  .col-50
    if compare recent.count '||' uploads
      .wh100.scroll-wrap
        each uploads
          +uploadRow
        each recent.each
          +listingRow
    else
      p.text-center
        | start with 
        a(data-select-file href="#" title="Select file") selecting a file
        br
        b.muted drag and drop files or directory