template(name="settings")
  form.col-50
    .text-center
      h1.h2 upload transport

      label
        input(type="radio" name="transport" value="ddp" checked="{{#if compare uploadTransport '===' 'ddp'}}checked{{/if}}")
        b DDP
      label
        input(type="radio" name="transport" value="http" checked="{{#if compare uploadTransport '===' 'http'}}checked{{/if}}")
        b HTTP (<em>faster</em>)

      p
        b.muted nerd-level settings

    a.info-link.right(href="{{pathFor 'index'}}" title="close"): i.la.la-times