template(name="settings")
  form.col-50
    .text-center
      h1.h2 settings

    ul.settings-options
      li: b select upload transport
      li: label(for="transport-ddp")
        input(type="radio" name="transport" id="transport-ddp" value="ddp" checked="{{#if compare uploadTransport '===' 'ddp'}}checked{{/if}}")
        b DDP
      li: label(for="transport-http")
        input(type="radio" name="transport" id="transport-http" value="http" checked="{{#if compare uploadTransport '===' 'http'}}checked{{/if}}")
        b HTTP (<em>faster</em>)

    ul.settings-options
      li: b nerd-level settings
      li
        if isNewVersionAvailable
          | &nbsp;
        else
          a.muted(data-trigger-hcp href="#") Trigger HCP message
      li
        if hasPWASupport
          a.muted(data-install-pwa href="#") Install as PWA
      li
        if hasWebPushSupport
          if compare pushTestStatus '===' true
            span.muted Web-push notification tested
          else if compare pushTestStatus '===' '1'
            b.muted Web-push notification testing...
          else
            a.muted(data-web-push href="#") Web-push notification test

    a.info-link(href="{{pathFor 'index'}}" title="close"): i.la.la-times
