<template name="layout">
  {{> Template.dynamic template=corner }}

  <div class="main-container full-height">
    <main class="row surface">
      {{> uploadForm}}
      {{> yield}}
    </main>
  </div>

  {{#if isNewVersionAvailable}}
    <div class="newVersionAvailable text-center">
      Good news everyone! The new version of the website is available.
      <a class="success" data-hcp-refresh href="#" title="Update the website and refresh">Refresh</a>
      to get the latest version. Or
      <a class="danger" data-hcp-dismiss href="#" title="Dismiss, and update later">dismiss</a>
      to update later.
    </div>
  {{/if}}
</template>